@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --h1-text-color: #ffffff;
  --accent-text-color: #2196f3;
  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;
  --bg-dark-color: #2f303a;
  --bg-grey-color: #f5f4fa;
  --bg-white-color: #ffffff;
  --overlay-color: rgba(47, 48, 58, 0.4);
  --background-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
}

.logo {
  color: var(--accent-text-color);
  font-family: var(--title-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__logo--color {
  color: var(--title-text-color);
}

.footer__logo--color {
  color: var(--accent-text-color);
}

.footer__logo {
  color: var(--h1-text-color);
  display: block;
  margin-bottom: 20px;
}

.btn {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--h1-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
}

.btn-portfolio {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-portfolio:hover,
.btn-portfolio:focus {
  background-color: var(--accent-text-color);
  color: var(--h1-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.form-button {
  position: absolute;
  height: 50px;
  width: 200px;
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
  color: var(--h1-text-color);
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  letter-spacing: 0.06em;
  left: 0;
  right: 0;
  top: 0;
  bottom: -461px;
  margin: auto;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--h1-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.button-close:hover,
.button-close:focus {
  border-color: var(--accent-text-color);
  cursor: pointer;
  outline: none;
  fill: var(--accent-text-color);
}

.footer__submit-button {
  position: relative;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 62px;
  display: inline-block;
  color: var(--h1-text-color);
  background-color: var(--accent-text-color);
  border-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: var(--primary-text-color);
  background: var(--bg-white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title {
  justify-content: center;
  color: var(--title-text-color);
  padding-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.overlay-hidden {
  position: relative;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: baseline;
}

.header__logo {
  margin-right: 93px;
}

.site-nav__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav__item {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__item .site-nav__link:hover,
.site-nav__item .site-nav__link:focus {
  color: var(--accent-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__item .site-nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  /* opacity: 0; */
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
}

.site-nav__item .site-nav__link:hover::after,
.site-nav__item .site-nav__link:focus::after {
  content: "";
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link {
  font-weight: 500;
  line-height: 1.15;
  color: var(--title-text-color);
}

.site-nav__link--current {
  color: var(--accent-text-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;
  padding: 0;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item {
  margin-left: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-text-color);
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  min-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: linear-gradient(to right, var(--overlay-color), var(--overlay-color)), url(../images/Img.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--h1-text-color);
  padding-bottom: 30px;
  max-width: 696px;
  margin: 0 auto;
}

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity__list {
  display: flex;
}

.activity__image {
  position: relative;
}

.activity__image:not(:last-child) {
  margin-right: 30px;
}

.activity__icon {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}

.activity-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--h1-text-color);
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  justify-content: space-between;
  padding-bottom: 50px;
}

.team {
  padding-top: 94px;
  background-color: var(--bg-grey-color);
  padding-bottom: 94px;
}

.team__card-set {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__card-item {
  flex-basis: calc((100% - 30px * 4) / 4);
  margin-left: 30px;
  margin-top: 30px;
  text-align: center;
  background-color: var(--bg-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name-item {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  justify-content: space-between;
  padding-bottom: 10px;
}

.team__item-profession {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-links {
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-links__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  color: #afb1b8;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover, .social-links__link:focus {
  background: var(--accent-text-color);
  color: var(--h1-text-color);
}

.social-links__icon {
  fill: currentColor;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.clients__item {
  padding: 0;
  margin: 0;
  border-radius: 4px;
  color: var(--primary-text-color);
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--background-color);
  color: var(--background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
}

.footer__flex {
  display: flex;
  align-items: baseline;
}

.footer__address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--h1-text-color);
}

.footer__contacts {
  display: inline-block;
  margin-top: 9px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  text-decoration: none;
}

.footer__social-links {
  margin-left: 70px;
}

.footer__title {
  display: inline-block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h1-text-color);
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  align-items: center;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--h1-text-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover, .footer__social-link:focus {
  background: var(--accent-text-color);
}

.footer__social-icon {
  fill: currentColor;
}

.footer__mailing {
  margin-left: 93px;
}

.footer__mailing-item {
  display: flex;
}

.footer__mailing-field {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--h1-text-color);
  background-color: var(--bg-dark-color);
}

.footer__submit-icon {
  position: absolute;
  right: 28px;
  top: 13px;
  bottom: 13px;
  fill: var(--h1-text-color);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  padding: 0;
}

.portfolio__item {
  background: #f5f4fa;
  border-radius: 4px;
}

.portfolio__item:hover, .portfolio__item:focus {
  background-color: var(--accent-text-color);
  color: #ffffff;
  border-radius: 4px;
  border: none;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.sample-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.sample-list__card {
  flex-basis: calc((100% - 30px * 3) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.sample-list__card:hover .overlay,
.sample-list__card:focus .overlay {
  opacity: 1;
  transform: translate(0);
}

.sample-list__card:focus, .sample-list__card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sample-list__text {
  padding: 20px 24px;
  border: 1px solid #eee;
  border-top: none;
}

.overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 0;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  color: var(--h1-text-color);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.sample-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-decoration: none;
}

.sample-list__description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  z-index: 2;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  background-color: var(--bg-white-color);
  padding: 40px;
}

.icon-close {
  background-color: var(--h1-text-color);
}

/* модальное окно */
.form__input {
  position: relative;
  display: block;
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  padding-right: 12px;
  box-sizing: border-box;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover, .form__input:focus {
  border-color: var(--accent-text-color);
  cursor: pointer;
  outline: none;
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: var(--accent-text-color);
}

.form__input-comment {
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.form__input-comment:hover, .form__input-comment:focus {
  border-color: var(--accent-text-color);
  cursor: pointer;
  outline: none;
}

.form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  text-align: left;
}

.form__title {
  font-size: 20px;
  font-style: 700;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  padding-bottom: 12px;
  letter-spacing: 0.03em;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement {
  color: var(--accent-text-color);
}

.checkbox-agree {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  font-size: 14px;
  line-height: 1.46;
}

.user-checkbox::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox-agree:checked + .user-checkbox::before {
  background-image: url(./images/symbol-defs.svg#icon-full-check);
  border-color: var(--accent-text-color);
  background-color: var(--accent-text-color);
}

.checkbox-agree:checked + .check {
  border-color: var(--accent-text-color);
  background-image: url(../images/Vector-3.svg);
  background-color: var(--accent-text-color);
}

.check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox-agree:checked ~ .icon-check {
  opacity: 1;
  transform: scale(1.2);
}

.form-agree-text {
  display: inline-block;
}
/*# sourceMappingURL=main.css.map */