.activity {
  padding-bottom: 94px;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.activity__list {
  display: flex;
}

.activity__image {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.activity__icon {
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}
.activity-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: var(--h1-text-color);
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
}
