.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: -30px;
}

.clients__item {
  padding: 0;
  margin: 0;
  border-radius: 4px;
  color: var(--primary-text-color);
  height: 92px;
  margin-top: 30px;
  margin-left: 30px;

  // &:not(:last-child) {
  //   @media screen and (min-width: 1200px) {
  //     margin-right: 30px;
  //   }
  // }
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (max-width: 1199px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.clients__link {
  width: 210px;
  height: 92px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--background-color);
  color: var(--background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    border-color: var(--accent-text-color);
  }

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
.clients__icon {
  fill: currentColor;
}
