.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-color);
}
.footer__flex {
  align-items: baseline;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 798px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
}

.footer__address {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--h1-text-color);

  @media screen and (max-width: 1199px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.footer__contacts {
  display: inline-block;
  margin-top: 9px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style: none;
  text-decoration: none;
}

.footer__social-links {
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}
.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--h1-text-color);
  margin-bottom: 20px;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
  }
}

.footer__social-list {
  display: flex;
}

.footer__social-item {
  align-items: center;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer__social-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--h1-text-color);
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--accent-text-color);
  }
}
.footer__social-icon {
  fill: currentColor;
}

.footer__mailing {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
  }
}
.footer__mailing-item {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__mailing-field {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--h1-text-color);
  background-color: var(--bg-dark-color);

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 480px) {
    width: 300px;
    margin-bottom: 20px;
  }
}

.footer__submit-icon {
  position: absolute;
  right: 28px;
  top: 13px;
  bottom: 13px;
  fill: var(--h1-text-color);
}
.footer__logo {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
