:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --h1-text-color: #ffffff;
  --accent-text-color: #2196f3;

  --main-font: "Roboto", sans-serif;
  --title-font: "Raleway", sans-serif;

  --bg-dark-color: #2f303a;
  --bg-grey-color: #f5f4fa;
  --bg-white-color: #ffffff;
  --overlay-color: rgba(47, 48, 58, 0.4);
  --background-color: #afb1b8;
  --backdrop-color: rgba(0, 0, 0, 0.2);
}
